.PostSection {
}

.Button {
  background: var(--primary);
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  letter-spacing: .05em;
  font-size: 1.4rem;
  display: inline-block;
  padding: 1.25rem 3rem;
  border: none;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  cursor: pointer;
  border-radius: 3px;
  border-radius: var(--borderRadius);
}

.PostSection--Grid {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: stretch;
}

.PostSection--Grid > * {
  width: calc(33.33% - 2rem);
  margin-bottom: 4rem;
}

@supports (display: grid) {
  .PostSection--Grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 4rem;
  }

  .PostSection--Grid > * {
    width: auto;
    margin: 0;
  }
}

.PostSection--Title {
  width: 100%;
  max-width: 200px;
  margin: 0 auto 4rem auto;
  line-height: 1.2;
}

@media screen and (max-width: 888px) {
  .PostSection--Grid > * {
    width: 100%;
    max-width: 50rem;
    margin: 0 auto 4rem;
    display: block;
  }

  @supports (display: grid) {
    .PostSection--Grid {
      display: block;
      grid-template-columns: 1;
      grid-gap: 0;
    }
  }
}
